<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wallet</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "Wallet/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "Wallet/css/login-register.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "Wallet/css/sb-admin.css"%}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "Wallet/font-awesome/css/font-awesome.min.css"%}" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="{% static "Wallet/js/jquery.js"%}"></script>
    <script src="{% static "Wallet/js/etiqueta-cuenta.js"%}"></script>
    <script src="{% static "Wallet/js/jquery-1.10.2.js"%}"></script>
    <script src="{% static "Wallet/js/jquery-ui.custom.min.js"%}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "Wallet/js/bootstrap.min.js"%}"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/accounts/loggedin/">Wallet</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-gear"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();"> Crear Cuenta</a>
                        </li>
                        <li>
                            <a data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();"> Crear Categoría</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="/apunte/crear/" class="dropdown-toggle"><i class="fa fa-fw fa-edit"></i></a>
                </li>
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ full_name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/accounts/logout/"><i class="fa fa-fw fa-power-off"></i> Desconectar</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/accounts/loggedin/"><i class="fa fa-fw fa-dashboard"></i> Panel de Control</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#cuenta"><i class="fa fa-fw fa-arrows-v"></i> Cuentas <i class="fa fa-fw fa-caret-down"></i></a>

                        <ul id="cuenta" class="collapse in">
                            {% for cuenta in object_list %}
                            <li>
                                <a href="/cuenta/{{ cuenta.id }}"><i class="fa fa-fw fa-desktop"></i> {{ cuenta.nombre }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#reportes"><i class="fa fa-fw fa-bar-chart-o"></i> Reportes <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="reportes" class="collapse in">
                            <li>
                                <a href="/reportes/patrimonio"><i class="fa fa-fw fa-bar-chart-o"></i> Patrimonio Neto</a>
                            </li>
                            <li>
                                <a href="/reportes/estadisticas"><i class="fa fa-fw fa-table"></i> Estadísticas</a>
                            </li>
                            <li>
                                <a href="/reportes/categorias"><i class="fa fa-fw fa-edit"></i>Categorías</a>
                            </li>
                            <li>
                                <a href="/reportes/tendencias"><i class="fa fa-fw fa-bar-chart-o"></i> Tendencias</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        {% block content %}


        {% endblock content %}

        </div>
        <!-- /#page-wrapper -->

    </div>
            <div class="modal fade login" id="loginModal">
              <div class="modal-dialog login animated">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Login</h4>
                    </div>
                    <div class="modal-body">
                        <div class="box">
                             <div class="content">
                                <div class="form sendBox">
                                    <form action="/createCuenta/" method="post">{% csrf_token %}
                                        <input id="nombre" class="form-control" type="text" placeholder="Nombre" name="nombre">
                                        <input id="saldoInicial" class="form-control" type="text" placeholder="Saldo" name="saldoInicial">
                                        <input class="btn btn-default btn-login" type="submit" value="Guardar">
                                    </form>
                                </div>
                             </div>
                        </div>
                        <div class="box">
                            <div class="content registerBox" style="display:none;">
                                <div class="form">
                                    <form method="post" action="/createCategoria/">{% csrf_token %}
                                        <input id="titulo" class="form-control" type="text" placeholder="Nombre" name="titulo">
                                        <input class="btn btn-default btn-register" type="submit" value="Guardar">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>

    <!-- /#wrapper -->
</body>

</html>