<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wallet</title>

    <!-- Bootstrap Core CSS -->

    <link href="{% static "Wallet/../../static/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "Wallet/../../static/css/login-register.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "Wallet/../../static/css/sb-admin.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
    <script src="{% static "Wallet/../../static/js/morris.js" %}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
    <script src="{% static "Wallet/../../static/js/example.js" %}"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css">
    <link rel="stylesheet" href="{% static "Wallet/../../static/css/morris.css" %}">
    <!-- Custom Fonts -->
    <link href="{% static "Wallet/../../static/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="{% static "Wallet/../../static/js/jquery.js" %}"></script>
    <script src="{% static "Wallet/../../static/js/etiqueta-cuenta.js" %}"></script>
    <script src="{% static "Wallet/../../static/js/jquery-ui.custom.min.js" %}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "Wallet/../../static/js/bootstrap.min.js" %}"></script>
    <script src="{% static "Wallet/../../static/js/bootstrap-datetimepicker.fiser.js" %}"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/accounts/loggedin/">Wallet</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-gear"></i> <b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/cuenta/editar/"> Editar Cuenta</a>
                    </li>
                    <li>
                        <a href="/categoria/editar/"> Editar Categoría</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a data-toggle="modal" data-target="#myModal"><i class="fa fa-fw fa-edit"></i></a>
            </li>

            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ full_name }} <b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/accounts/logout/"><i class="fa fa-fw fa-power-off"></i> Desconectar</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <div class="navbar-right">
                <div class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar" name="q" id="cajonBuscar">

                        <div class="input-group-btn">
                            <button class="btn btn-default" id="botonBuscar"><i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="/accounts/loggedin/"><i class="fa fa-fw fa-dashboard"></i> Panel de Control</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#cuenta"><i
                            class="fa fa-fw fa-arrows-v"></i> Cuentas <i class="fa fa-fw fa-caret-down"></i></a>

                    <ul id="cuenta" class="collapse in">
                        {% for cuenta in object_list %}
                            <li>
                                <a href="/cuenta/{{ cuenta.id }}"><i
                                        class="fa fa-fw fa-desktop"></i> {{ cuenta.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="/reportes/categorias"><i class="fa fa-fw fa-edit"></i>Categorías</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/createApunte/" method="post">
                    <fieldset>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Crear Apunte</h4>
                        </div>
                        <div class="modal-body ">
                            <div style="height:50px;">
                                <input class="form-control" placeholder="Descripción" name="descripcion">
                            </div>
                            <div class="col-lg-12 text-center " style="height:50px;" data-toggle="buttons"
                                 id="ingresoGastoTransferencia">
                                <label class="btn btn-primary active btn1">
                                    <input type="radio" name="ingresoGastoTransferencia" id="ingreso" value="Ingreso"
                                           checked="checked"> Ingreso
                                </label>
                                <label class="btn btn-primary btn1">
                                    <input type="radio" name="ingresoGastoTransferencia" id="gasto" value="Gasto"> Gasto
                                </label>
                                <label class="btn btn-primary btn2">
                                    <input type="radio" name="ingresoGastoTransferencia" id="transferencia"
                                           value="Transferencia"> Transferencia
                                </label>
                            </div>
                            <div class="input-group input-append date" id="dateRangePicker">
                                <input type="date" id="date" class="form-control" name="fecha"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                                <input type="text" class="form-control allownumericwithdecimal" placeholder="Dinero"
                                       name="dinero" value="0">
                            </div>

                            <div>
                                <label>Categorías</label>
                                <select class="form-control" name="categoria">
                                    {% for categoria in categoria_list %}
                                        <option value="{{ categoria.id }}">{{ categoria.titulo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label>Cuenta</label>
                                <select onchange="getval(this);" class="form-control focusSelectorClase"
                                        id="focusSelector" name="cuentaOrigen">
                                    {% for cuenta in object_list %}
                                        <option id="cuentaOrigen" value="{{ cuenta.id }}">{{ cuenta.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="disabled" style="display: none;">
                                <label>Cuenta Destino</label>
                                <select onchange="getval(this);" class="form-control focusSelectorClase"
                                        id="focusSelector2" name="cuentaDestino">
                                    {% for cuenta in object_list %}
                                        <option id="cuentaDestino" value="{{ cuenta.id }}">{{ cuenta.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary" id="botonGuardar">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/apunte/editar/" id="formsend" method="post">
                    <fieldset>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel1">Editar Apunte</h4>
                        </div>
                        <div class="modal-body">
                            <div style="height:50px;">
                                <input class="form-control" placeholder="Descripción" name="descripcion"
                                       id="descripcion">
                            </div>
                            <div class="col-lg-12 text-center " style="height:50px;" data-toggle="buttons">
                                <label class="btn btn-primary active btn11" id="btn11">
                                    <input type="radio" name="ingresoGastoTransferencia2" id="ingreso1" value="Ingreso"
                                           checked="checked"> Ingreso
                                </label>
                                <label class="btn btn-primary btn11" id="btn12">
                                    <input type="radio" name="ingresoGastoTransferencia2" id="gasto1" value="Gasto">
                                    Gasto
                                </label>
                                <label class="btn btn-primary btn21" id="btn13">
                                    <input type="radio" name="ingresoGastoTransferencia2" id="transferencia1"
                                           value="Transferencia"> Transferencia
                                </label>
                            </div>
                            <div class="input-group input-append date" id="dateRangePicker1">
                                <input type="date" id="date1" class="form-control" name="fecha"/>
                                <span class="input-group-addon add-on"><span
                                        class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                            <div class="form-group input-group">
                                <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                                <input type="text" class="form-control allownumericwithdecimal" placeholder="Dinero"
                                       name="dinero" id="dinero" value="0">
                            </div>

                            <div>
                                <label>Categorías</label>
                                <select class="form-control" name="categoria" id="categoria">
                                    {% for categoria in categoria_list %}
                                        <option value="{{ categoria.id }}">{{ categoria.titulo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <label>Cuenta</label>
                                <select onchange="getval2(this);" class="form-control focusSelectorClase"
                                        id="focusSelector1" name="cuentaOrigen">
                                    {% for cuenta in object_list %}
                                        <option id="cuentaOrigen1" value="{{ cuenta.id }}">{{ cuenta.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="disabled1" style="display: none;">
                                <label>Cuenta Destino</label>
                                <select onchange="getval2(this);" class="form-control focusSelectorClase"
                                        id="focusSelector21" name="cuentaDestino">
                                    {% for cuenta in object_list %}
                                        <option id="cuentaDestino1" value="{{ cuenta.id }}">{{ cuenta.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <a class="button btn btn-danger" id="deletesend" href="">Borrar</a>
                        <button type="submit" class="btn btn-primary" id="botonGuardar1">Guardar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal3">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="modal-title">Busqueda de apuntes</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" id="tblGrid">
                        <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Dinero</th>
                            <th>Cuenta Origen</th>
                            <th>Fecha</th>
                            <th>Categoria</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    {% block content %}
    {% endblock content %}
</div>
<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->
</body>
</html>
<script>
    $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
        $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
    $(".btn1").click(function () {
        $("#disabled").slideUp();
        $("#botonGuardar").prop('disabled', false);

    });
    $(".btn2").click(function () {
        $("#disabled").slideDown();
        var primero = $("#focusSelector").val();
        var segundo = $("#focusSelector2").val();

        if (primero != segundo) {
            $("#botonGuardar").prop('disabled', false);

        } else {
            $("#botonGuardar").prop('disabled', true);
        }
    });

    function getval(sel) {
        var primero = $("#focusSelector").val();
        var segundo = $("#focusSelector2").val();

        if (primero != segundo) {
            $("#botonGuardar").prop('disabled', false);

        } else {
            $("#botonGuardar").prop('disabled', true);
        }
    }
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!

    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    var today = mm + '/' + dd + '/' + yyyy;

    document.getElementById('date').value = today;

</script>
<script>
    $(".allownumericwithdecimal").on("keypress keyup blur", function (event) {
        $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
        if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
    $(".btn11").click(function () {
        $("#disabled1").slideUp();
        $("#botonGuardar1").prop('disabled', false);

    });
    $(".btn21").click(function () {
        $("#disabled1").slideDown();
        var primero = $("#focusSelector1").val();
        var segundo = $("#focusSelector21").val();

        if (primero != segundo) {
            $("#botonGuardar1").prop('disabled', false);

        } else {
            $("#botonGuardar1").prop('disabled', true);
        }
    });

    function getval2(sel) {
        var primero = $("#focusSelector1").val();
        var segundo = $("#focusSelector21").val();

        if (primero != segundo) {
            $("#botonGuardar1").prop('disabled', false);

        } else {
            $("#botonGuardar1").prop('disabled', true);
        }
    }
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!

    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    var today = mm + '/' + dd + '/' + yyyy;
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            document.getElementById('formsend').action = "/apunte/editar/" + $(this).attr("data-id") + "/"
            document.getElementById('deletesend').href = "/apunte/delete/" + $(this).attr("data-id") + "/";
            document.getElementById('descripcion').value = $(this).attr("descripcion");
            document.getElementById('dinero').value = $(this).attr("dinero");
            document.getElementById('focusSelector1').value = $(this).attr("cuentaOrigen");
            document.getElementById('focusSelector21').value = $(this).attr("cuentaDestino");
            document.getElementById('date1').value = formatDate($(this).attr("fecha"));
            document.getElementById('categoria').value = $(this).attr("categoria");
            number = $(this).attr("ingresoGastoTransferencia") - 1;
            $('input:radio[name=ingresoGastoTransferencia2]')[number].checked = true;
            if (number == 0) {
                $("#btn11").addClass("active")
                $("#btn13").removeClass("active")
                $("#btn12").removeClass("active")
            }
            else if (number == 1) {
                $("#btn11").removeClass("active")
                $("#btn12").addClass("active")
                $("#btn13").removeClass("active")
            }
            else if (number == 2) {
                $("#btn11").removeClass("active")
                $("#btn12").removeClass("active")
                $("#btn13").addClass("active")

            }

        });

    });
    function formatDate(date) {
        var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [month, day, year].join('/');
    }
    function formatInicial(date) {
        var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();
        shortMonths = ['Jan.', 'Feb.', 'March', 'April', 'May', 'June', 'July', 'Aug.', 'Sept.', 'Oct.', 'Nov.', 'Dec.']

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return shortMonths[d.getMonth()] + " " + day + ", " + year;
    }

    $("#botonBuscar").click(function AjaxSearch() {
        $.ajax({
            url: "/apunte/buscar/",
            type: 'get',
            data: {term: $('#cajonBuscar').val()},
            dataType: "json",
            success: function (results) {
                $(".removeRow").remove();
                for (i = 0; i < results.length; i++) {
                        $('#tblGrid tbody').after('<tr class="clickable-row removeRow" data-target="#myModal1" data-toggle="modal" data-dismiss="modal" data-id="'+results[i].id+'" descripcion="'+results[i].descripcion+'" dinero='+results[i].dinero+' cuentaOrigen="'+results[i].cuentaOrigen+'" cuentaDestino="'+results[i].cuentaDestino+'" fecha="'+formatInicial(results[i].fecha)+'" categoria="'+results[i].categoria+'" ingresoGastoTransferencia="'+results[i].ingresoGastoTransferencia+'"><td>' + results[i].descripcion + '</td>' + '<td>' + results[i].dinero + '</td>' + '<td>' + results[i].cuentaOrigenNombre + '</td>' + '<td>' + formatInicial(results[i].fecha) + '</td>' + '<td>' + results[i].categoriaNombre + '</td></tr>');
                }

                $('#myModal3').modal('show');
            }
        });

    });
    $('#cajonBuscar').keydown(function (e) {
        if (e.keyCode == 13) {
            $.ajax({
                url: "/apunte/buscar/",
                type: 'get',
                data: {term: $('#cajonBuscar').val()},
                dataType: "json",
                success: function (results) {
                $(".removeRow").remove();
                for (i = 0; i < results.length; i++) {
                        $('#tblGrid tbody').after('<tr class="clickable-row removeRow" data-target="#myModal1" data-toggle="modal" data-dismiss="modal" data-id="'+results[i].id+'" descripcion="'+results[i].descripcion+'" dinero='+results[i].dinero+' cuentaOrigen="'+results[i].cuentaOrigen+'" cuentaDestino="'+results[i].cuentaDestino+'" fecha="'+formatInicial(results[i].fecha)+'" categoria="'+results[i].categoria+'" ingresoGastoTransferencia="'+results[i].ingresoGastoTransferencia+'"><td>' + results[i].descripcion + '</td>' + '<td>' + results[i].dinero + '</td>' + '<td>' + results[i].cuentaOrigenNombre + '</td>' + '<td>' + formatInicial(results[i].fecha) + '</td>' + '<td>' + results[i].categoriaNombre + '</td></tr>');
                }

                $('#myModal3').modal('show');
            }
            });
        }
    })

</script>
