{% extends "baseInterna.html" %}
{% block content %}
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Categorías
                    </h1>
                </div>
            </div>
            <div class="row">
                <div id="graph" class="text-center"></div>

                <div class="col-lg-12 text-center " style="height:50px;" data-toggle="buttons">
                    <label class="btn btn-primary">
                        <input type="radio" name="ingresoGastoTransferencia" class="checkboxControl"
                               id="ingresosCategoria" value="Ingreso"> Ingreso
                    </label>
                    <label class="btn btn-primary active">
                        <input type="radio" name="ingresoGastoTransferencia" class="checkboxControl"
                               id="gastosCategoria" value="Gasto"
                               checked="checked"> Gasto
                    </label>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">

                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Dinero</th>
                                <th>Cuenta</th>
                                <th>Fecha</th>
                                <th>Categorias</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for categorias in categoriasIngresos %}
                                {% for apunte in categorias.apuntes %}
                                    <tr class="apunteidIngresos{{ categorias.categoria.id }} hidemeplease" data-toggle="modal" data-id="1" data-target="#myModal1" hidden>
                                        <td>{{ apunte.descripcion }}</td>
                                        <td>{{ apunte.dinero }}</td>
                                        {% if apunte.ingresoGastoTransferencia == 3 %}
                                            <td>{{ apunte.cuentaOrigen.nombre }}
                                                -> {{ apunte.cuentaDestino.nombre }}</td>
                                        {% else %}
                                            <td>{{ apunte.cuentaOrigen.nombre }}</td>
                                        {% endif %}
                                        <td>{{ apunte.fecha }}</td>
                                        <td>{{ apunte.categoria.titulo }}</td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                            {% for categorias in categoriasGastos %}
                                {% for apunte in categorias.apuntes %}
                                    <tr class="apunteidGastos{{ categorias.categoria.id }} hidemeplease clickable-row" data-toggle="modal" data-id="{{ apunte.id }}" descripcion="{{ apunte.descripcion }}" dinero={{ apunte.dinero }} cuentaOrigen="{{ apunte.cuentaOrigen.id }}" cuentaDestino="{{ apunte.cuentaDestino.id }}" fecha="{{ apunte.fecha }}" categoria="{{ apunte.categoria }}" ingresoGastoTransferencia="{{ apunte.ingresoGastoTransferencia }}" data-target="#myModal1">
                                        <td>{{ apunte.descripcion }}</td>
                                        <td>{{ apunte.dinero }}</td>
                                        {% if apunte.ingresoGastoTransferencia == 3 %}
                                            <td>{{ apunte.cuentaOrigen.nombre }}
                                                -> {{ apunte.cuentaDestino.nombre }}</td>
                                        {% else %}
                                            <td>{{ apunte.cuentaOrigen.nombre }}</td>
                                        {% endif %}
                                        <td>{{ apunte.fecha }}</td>
                                        <td>{{ apunte.categoria.titulo }}</td>
                                    </tr>
                                {% endfor %}

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <!-- /.container-fluid -->
    </div>
    <script>
        var donut = Morris.Donut({
            element: 'graph',
            data: [
                {% for categoria in categoriasGastos %}
                    {% if categoria.dinero > 0 %}
                        {
                            value: {{ categoria.dinero }},
                            label: '{{ categoria.categoria.titulo }}',
                            id: {{ categoria.categoria.id }},
                            ingGas: 'Gastos'
                        },
                    {% endif %}
                {% endfor %}
            ],
            formatter: function (x) {
                return x + "€"
            }
        });
        var data = [{% for categoria in categoriasGastos %}
            {% if categoria.dinero > 0 %}
                {
                    value: {{ categoria.dinero }},
                    label: '{{ categoria.categoria.titulo }}',
                    id: {{ categoria.categoria.id }},
                    ingGas: 'Gastos'
                },
            {% endif %}
        {% endfor %}];
        var data2 = [{% for categoria in categoriasIngresos %}
            {% if categoria.dinero > 0 %}
                {
                    value: {{ categoria.dinero }},
                    label: '{{ categoria.categoria.titulo }}',
                    id: {{ categoria.categoria.id }},
                    ingGas: 'Ingresos'
                },
            {% endif %}
        {% endfor %}];

        donut.options.xLabelFormat = function (date) {
            return formatDate(date);
        }
        donut.xLabelAngle = 60;
        $(".checkboxControl").change(function () {
            if (document.getElementById('ingresosCategoria').checked) {
                donut.setData(data2);


            } else if (document.getElementById('gastosCategoria').checked) {
                donut.setData(data);
            }
        });

    </script>
{% endblock %}