{% extends "baseInterna.html" %}
{% block content %}
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Panel De Control
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% if dinero < 0 %}
                        <div class="panel panel-danger">
                    {% else %}
                        <div class="panel panel-success">
                    {% endif %}
                    <div class="panel-heading">
                        <h3 class="panel-title">Dinero Actual</h3>
                    </div>
                    <div class="panel-body text-center">
                        <h1>
                            {{ dinero }} €
                            </br>
                        </h1>
                    </div>
                    </div>
                    </div>
                    <div class="col-sm-6">
                        <div id="graph"></div>
                    </div>
                    <div class="col-sm-6">
                        <div id="graph2"></div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Dinero</th>
                                    <th>Cuenta</th>
                                    <th>Fecha</th>
                                    <th>Categoría</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for apunte in apunte_list %}
                                    {% if apunte.ingresoGastoTransferencia == 3 %}
                                        <tr class="warning clickable-row" data-toggle="modal" data-id="{{ apunte.id }}" data-target="#myModal1">>
                                            {% elif apunte.ingresoGastoTransferencia == 1 %}
                                        <tr class="success clickable-row" data-toggle="modal" data-id="{{ apunte.id }}" data-target="#myModal1">
                                            {% elif apunte.ingresoGastoTransferencia == 2 %}
                                        <tr class="danger clickable-row" data-toggle="modal" data-id="{{ apunte.id }}" data-target="#myModal1">
                                    {% endif %}
                                <td>{{ apunte.descripcion }}</td>
                                <td>{{ apunte.dinero }}</td>
                                {% if apunte.ingresoGastoTransferencia == 3 %}
                                    <td>{{ apunte.cuentaOrigen.nombre }} -> {{ apunte.cuentaDestino.nombre }}</td>
                                {% else %}
                                    <td>{{ apunte.cuentaOrigen.nombre }}</td>
                                {% endif %}
                                <td>{{ apunte.fecha }}</td>
                                <td>{{ apunte.categoria.titulo }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <script>
        var day_data = [
            {% for datos in arrayDatos %}
                {"period": '{{ datos.fecha }}', "Todas las cuentas": {{datos.dinero}}},
            {% endfor %}
        ];
        Morris.Line({
            element: 'graph',
            data: day_data,
            xkey: 'period',
            ykeys: ['Todas las cuentas'],
            labels: ['Todas las cuentas'],
            /* custom label formatting with `xLabelFormat` */
            xLabelFormat: function (d) {
                return (d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear();
            },
            /* setting `xLabels` is recommended when using xLabelFormat */
            xLabels: 'day'
        });
    </script>
    <script>
        var day_data = [
            {% for apunte in apuntesOrdenados %}
                {
                    "period": "{{ apunte.mesStr }}",
                    "Ingresos": {{ apunte.ingresoTotal }},
                    "Gastos": {{apunte.gastoTotal}}
                },
            {% endfor %}
        ];
        Morris.Bar({
            element: 'graph2',
            data: day_data,
            xkey: 'period',
            ykeys: ['Ingresos', 'Gastos'],
            labels: ['Ingresos', 'Gastos'],
            xLabelAngle: 60
        });

    </script>

{% endblock %}